<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=12345678aA!;Data Source=.;Database=WechatSitecore_Core"/>
  <add name="master" connectionString="user id=sa;password=12345678aA!;Data Source=.;Database=WechatSitecore_Master"/>
  <add name="web" connectionString="user id=sa;password=12345678aA!;Data Source=.;Database=WechatSitecore_Web"/>
</connectionStrings>
