@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-MassMessageHistory";
    rendering.Requires.Script("client", "MassMessageHistory.js");
    rendering.GetString("input", "input");
    var htmlAttributes = rendering.HtmlAttributes;
}      
<script src="/Script/Wechat/bootstrap.min.js" type="text/javascript"></script>
    
<link href="/Script/Wechat/bootstrap.css" rel="stylesheet">

<div @htmlAttributes>
    <table class="table table-hover">
        <thead>
            <tr style="background-color:lightgrey">
                <th>标题</th>
                <th>类型</th>
                <th>发送时间</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:output">
            <tr>
                <td><label data-bind="text: Title"></label></td>
                <td><label data-bind="text: Type"></label></td>
                <td><label data-bind="text: SendTime"></label></td>
                <td><label data-bind="text: State"></label></td>
            
            </tr>
        </tbody>
        
    </table>
    
    <div class="pagination" data-bind="foreach: pager">
        
        <ul>
            <li >
                <a href="#" data-bind="text: number" onclick="Sitecore.app.MassMessageHistory.getData(this.text);">
                
                </a>
            </li>
        </ul>
    </div>
</div>
