<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SpeakChartingSettings.Mvc.CommandRoutePrefix" value="api/sitecore/speakcharting/"/>
    </settings>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Speak.Charting.Mvc"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Speak.Charting.Mvc']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>